# Node
node_modules/
.npmrc

# Builds
/dist/
/build/
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store

# Local data
/data/
Propery_Hub_JSON.zip